mixin menu-item(text, link, className, subMenu, text2, text3)

    if subMenu
        li.nav-menu__item(class=`${subMenu}`)
            a(href=`${link}`)
                span.icons-game(class=`icons-game__${className}`)=text
            ul.sub-menu
                li.nav-menu__item
                    a(href=`${link}`)
                        span(class=`${className}`)=text2
                li.nav-menu__item
                    a(href=`${link}`)
                        span(class=`${className}`)=text3
    else
        li.nav-menu__item
            a(href=`${link}`)
                span.icons-game(class=`icons-game__${className}`)=text


mixin cardProduct(img, title, subTitle, price1, price2, priceOld)
    if price2
        a.card-product(href="#")
            img.card-product__image(src=img, alt="")
            .card-product__title=title 
            .card-product__subTitle=subTitle 
            .card-product__price-block
                span.price-1=price1 
                |  -  
                span.price-2=price2
            .card-product__more.link.link-bg--transparent more
            
    else
        a.card-product(href="#")
            img.card-product__image(src=img, alt="")
            .card-product__title=title 
            .card-product__subTitle=subTitle 
            .card-product__price-block 
               span.price-1=price1
               span.price-old=priceOld
            .card-product__more.link.link-bg--transparent more            


mixin cardRaid(date, time, title, logo, price, active, ...description)
    if active 
        .card-raid.card-raid--active 
            .card-raid__head 
                span.card-raid__head-desc Next raid in 
                span.card-raid__head-date=date
                span.card-raid__head-time=time
            .card-raid__body 
                .card-raid__body-title!=title
                .card-raid__body-desc--wrapp
                    ul.card-raid__body-desc 
                        each desc in description
                            li=desc
                    .card-raid__body-logo.icons-main(class=`icons-main__${logo}`) 
                .card-raid__body-price=price 
            a.link.link-bg.card-raid__link add to basket
    else 
        .card-raid
            .card-raid__head 
                span.card-raid__head-date=date
                span.card-raid__head-time=time
            .card-raid__body 
                .card-raid__body-title!=title
                .card-raid__body-desc--wrapp
                    ul.card-raid__body-desc 
                        each desc in description
                            li=desc
                    .card-raid__body-logo.icons-main(class=`icons-main__${logo}`) 
                .card-raid__body-price=price 
            a.link.link-bg.card-raid__link add to basket


mixin cardAdvantages(className, title, desc)
    .card-advantages
        .card-advantages__icon.icons-game(class=`icons-game__${className}`)
        .card-advantages__content 
            .card-advantages__content-title=title
            .card-advantages__content-desc=desc


mixin cardPopular(className, content)
    .card-popular
        .card-popular__title=content
        .card-popular__logo.icons-game(class=`icons-game__${className}`)


mixin cardTrust(img, date, name, content, logo)
    .card-trustpilot.slider__item 
        .card-trustpilot__header
            .card-trustpilot__header-icon
                img(src=img, alt="")
            .card-trustpilot__header-desc
                .card-trustpilot__header-data=date
                .card-trustpilot__header-name=name
            .card-trustpilot__header-logo.icons-main.icons-main__trustpilot
        .card-trustpilot__body=content


mixin cardNews(img, date, title, content)
    .card-news 
        .card-news__header
            img(src=img, alt="")
        .card-news__body
            .card-news__body-date=date
            .card-news__body-title=title
            .card-news__body-content=content


mixin cardFaq(title, content)
    .card-faq.adaptHeight
        .card-faq__title.adaptHeight__link=title 
        .card-faq__content.adaptHeight__content=content 


mixin cardProcess(index, title, desc)
    .card-process(class=`card-process-${index}`)
        .card-process__index=index
        .card-process__content
            .card-process__content-title=title
            .card-process__content-desc=desc


mixin tabsLink(...items)
    ul.tabs-block__nav
        each item, index in items
            li
                a(class=(index === 0 ? 'active-tab' : false) href="#")=item

 
mixin link(content, href, transperent, allContent)
    if transperent
        a.link(class=`link-bg--transparent ${allContent}` href=`${href}`)=content
    else
        a.link(class=`link-bg ${allContent}` href=`${href}`)=content