mixin menu-item(text, link, className, subMenu, text2, text3)

    if subMenu
        li.nav-menu__item(class=`nav-menu__item--${className} ${subMenu}`)
            a(href=`${link}`)=text
            ul.sub-menu
                li.nav-menu__item
                    a(href=`${link}`)=text2
                li.nav-menu__item
                    a(href=`${link}`)=text3
    else
        li.nav-menu__item(class=`nav-menu__item--${className}`)
            a(href=`${link}`)=text


mixin cardProduct(img, title, price1, price2, priceOld)
    if price2
        a.product-card(href="#")
            img.product-card__image(src=img, alt="")
            .product-card__title=title 
            .product-card__price-block
                span.price-1=price1 
                |  -  
                span.price-2=price2
            .product-card__more more
            
    else
        a.product-card(href="#")
            img.product-card__image(src=img, alt="")
            .product-card__title=title 
            .product-card__price-block 
               span.price-1=price1
               span.price-old=priceOld
            .product-card__more more            


mixin tabsLink(...items)
    ul.tabs-block__nav
        each item in items
            li 
                a(href="#")=item 
