mixin menu-item(text, link, className, subMenu, text2, text3)

    if subMenu
        li.nav-menu__item(class=`${subMenu}`)
            a(href=`${link}`)
                span(class=`${className}`)=text
            ul.sub-menu
                li.nav-menu__item
                    a(href=`${link}`)
                        span(class=`${className}`)=text2
                li.nav-menu__item
                    a(href=`${link}`)
                        span(class=`${className}`)=text3
    else
        li.nav-menu__item
            a(href=`${link}`)
                span(class=`${className}`)=text


mixin cardProduct(img, title, price1, price2, priceOld)
    if price2
        a.product-card(href="#")
            img.product-card__image(src=img, alt="")
            .product-card__title=title 
            .product-card__price-block
                span.price-1=price1 
                |  -  
                span.price-2=price2
            .product-card__more more
            
    else
        a.product-card(href="#")
            img.product-card__image(src=img, alt="")
            .product-card__title=title 
            .product-card__price-block 
               span.price-1=price1
               span.price-old=priceOld
            .product-card__more more            


mixin cardRaid(date, time, title, logo, price, active, ...description)
    if active 
        .card-raid.card-raid--active 
            .card-raid__head 
                span.card-raid__desc Next raid in 
                span.card-raid__date=date
                span.card-raid__time=time
            .card-raid__body 
                .card-raid__title=title
                ul.card-raid__desc 
                    each desc in description
                        li=desc
                .card-raid__logo 
                    img(src=`static/img/logo-icons/logo-${logo}.png`, alt="")
                .card-raid__price=price 
            a.card-raid__link add to basket
    else 
        .card-raid
            .card-raid__head 
                span.card-raid__date=date
                span.card-raid__time=time
            .card-raid__body 
                .card-raid__title=title
                ul.card-raid__desc 
                    each desc in description
                        li=desc
                .card-raid__logo 
                    img(src=`static/img/logo-icons/logo-${logo}.png`, alt="")
                .card-raid__price=price 
            a.card-raid__link add to basket

mixin whyChooseCard(className, title, desc)
    .why-choose(class=`why-choose--${className}`)
        .why-choose__icon
        .why-choose__content 
            .why-choose__title=title 
            .why-choose__desc=desc

mixin tabsLink(...items)
    ul.tabs-block__nav
        each item in items
            li 
                a(href="#")=item

 
